#kutu{
    padding: 10px;
    margin: 20px;
    background-color: aqua;
    border: 3px solid peru;
}
#kapat{
    float: right ;

}
#kutu2{
    padding: 10px;
    margin: 20px;
    background-color: aqua;
    border: 3px solid peru;
    display: none;
}
#kutu3{
    padding: 10px;
    margin: 20px;
    
}
.grup{
    display: block;
    color: red;
    border: 1px solid blue ;
}
img{
    width: 100px;
}
#kutu4{
    padding: 10px;
    margin: 20px;
}
.grup1{
    display: inline;
    color: red;
    border: 1px solid blue ;
}
#d {
    display: none;
}
#b {
    visibility: hidden;
}
