/* Şeçiciler, Özelliler ve Değerler(Selectors, Properties ve Values) */
/* PSEUDO */


h1,p{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 5px yellow;
    background-color: black;
}
h1{
    background-color: blue;
}
.paragraf{
    background-color: brown;
}
#paragraf{
    background-color: chocolate;
}
p > span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgreen;
    background-color: bisque;
    font-weight: bolder;
}
p{
    background-color: chartreuse;  !important

}
/* Elemanin içeriğinden sonra ekleme yap */
p::after{
    content: url(resimler/logo.jpg);
}
/* Elemanin içeriğinden önce ekleme yap */
p::before{
    content: url(resimler/logo.jpg);
}

/* Elemanin ilk harfini seçer */
p::first-letter{
    color: darkslateblue;
    font-size: 10px;
}

/* Kullanıcı tarafından seçilen elemanı seçer. */
p::selection{
    background-color: black;
    color: white;
}
/* Elemanın ilk satırını seçer */
p::first-line{
    text-align:  left;
}
